body{
    border: 0;
    margin: 0;
}

#div1{
    width: 100%;
}

header{
    display:flex;
    justify-content: space-around;  
    align-items: center;
    margin-top: 20px;
}

#logo1{
    width: 300px;
}

#selected{
    color: aqua;
}

nav a{
    color: grey;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 20px;
}

#logo2div{
    display: flex;
    justify-content: center;
}

#logo2{
    height: 60px;
    width: 60px; 
}

#para{
    display: flex;
    justify-content: center;
    color: aqua;
    font-size: 30px;
}

#wewant{
    display: flex;
    justify-content: center;
}

#leftwewant{
    height: 200px;
    width: 420px;
    margin-right: 20px;
}

#rightwewant{
    height: 200px;
    width: 420px;
    margin-left: 20px;
}

.wewantpara{
    font-size: 20px;
}

#main2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#patients{
    height: 370px;
    width: 320px;
    background-color: aqua;
    margin-right: 10px;
    border-radius: 25px;
}

#doctors{
    height: 370px;
    width: 320px;
    background-color: blue;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}

#clinics{
    height: 370px;
    width: 320px;
    background-color: black;
    margin-left: 10px;
    border-radius: 25px;
}

#main2imgpadding{
    padding-left: 40px;
    padding-top: 40px;
}

#patientspadding{
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 40px;
}

#findadoctor{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 25px;
}

.selectbox{
    padding-left: 40px;
}

.button{
    text-decoration: none;
}

#docimgpadding{
    padding-left: 40px;
    padding-top: 40px;
}

#doctorspadding{
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 40px;
}

#savetime{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 25px;
}

#clinicimgpadding{
    padding-left: 40px;
    padding-top: 40px;
}

#clinicspadding{
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 40px;
}

#deliver{
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-size: 25px;
}

#main3{
    display: flex;
    justify-content: center;
}

#globalleft{
    height: 300px;
    width: 400px;
    margin-right: 15px;
}

#logoright{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 400px;
    margin-left: 15px;
}

#global{
    color: aquamarine;
}

#logorow1{
    display: flex;
    margin-bottom: 40px;
}

#znany{
    width: 80px;
    margin-right: 20px;
}

#doctoralia{
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#miodottore{
    width: 80px;
    margin-left: 20px;
}

#logorow2{
    display: flex;
    margin-bottom: 40px;
}

#doktor{
    width: 80px;
    margin-right: 20px;
}

#znam2{
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#jameda{
    width: 80px;
    margin-left: 20px;
}

#logorow3{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#tuotempo{
    width: 80px;
    margin-right: 20px;
}

#gipo{
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#cliniccloud{
    width: 80px;
    margin-left: 20px;
}

#logorow4{
    display: flex;
}

#feegow{
    width: 80px;
}

#div2{
    width: 100%;
    height: 646px;
    background-color: aquamarine;
}

#platform{
    display: flex;
    justify-content: center;
}

#leftplatform{
    display: flex;
    flex-direction: column;
    height: 646px;
    width: 550px;
    margin-right: 20px;
}

h2{
    margin-top: 70px;
    margin-bottom: 20px;
    color: #00b39b;
}

#wework{
    margin-bottom: 70px;
    color: grey;
}

#croppedlogo{
    width: 520px;
}

#rightplatform{
    display: flex;
    height: 620px;
    width: 550px;
    margin-left: 20px;
}

#rightplatform1{
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 250px;
    margin-right: 20px;
}

#leader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: white;
    margin-top: 50px;
    margin-left: 10px;
}

.divimage{
    width: 30px;
    margin-top: 20px;
}

#leadh3{
    color: aquamarine;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#pays{
    color: grey;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#mil90{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: white;
    margin-top: 50px;
    margin-left: 10px;
}

#patients90m{
    color: aquamarine;
    font-size: 20px;
    margin-left: 50px;
}

#visit{
    color: grey;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#rightplatform2{
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 250px;
}

#appoint{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
}

#mil15{
    color: aquamarine;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

#lastmonth{
    color: grey;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 200px;
    background-color: white;
    margin-top: 50px;
    margin-left: 10px;
}

#lesmedecins{
    color: aquamarine;
    font-size: 20px;
    margin-left: 50px;
}

#trust{
    color: grey;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#div3{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
}

#improve{
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lives{
    color: chartreuse;
    margin-bottom: 0;
    font-size: 30px;
}

#change{
    color: chartreuse;
    margin-top: 0;
    font-size: 30px;
}

#div4{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cities1{
    width: 1000px;
    height: 335px;
    margin-top: 130px;
    display: flex;
}

.villes{
    width: 312px;
    height: 320px;
    margin: 10px;
}

.buttons{
    width: 312px;
    height: 30px;
    display: flex;
    align-items: center;
}

.element1{
    margin-left: 20px;
    margin-right: 100px;
}

.element2{
    margin-right: 10px;
    background-color: blue;
    color: white;
}

.rioelement1{
    margin-left: 15px;
    margin-right: 70px;
}

#cities2{
    width: 1000px;
    height: 335px;
    display: flex;
}

#cities3{
    width: 1000px;
    height: 335px;
    display: flex;
}

#div5{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

#sounds{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 120px;
}

#join{
    font-size: 25px;
}

#footer{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#weare{
    font-size: 13px;
}

#thissite{
    margin-bottom: 0;
    font-size: 13px;
}

#url{
    margin-top: 0;
    font-size: 13px;
}

button{
    border: none;
}